.App {
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  height: 100vh;
  border-top: 10px solid rgb(165, 47, 47);
}

.App h1 {
  font-size: 72pt;
  font-family: 'Luckiest Guy', cursive;
  color: #aaa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 -3px 0 #212121, 0 -3px 0 #212121, 0 3px 0 #212121, 0 3px 0 #212121, -3px 0 0 #212121, 3px 0 0 #212121, -3px 0 0 #212121, 3px 0 0 #212121, -3px -3px 0 #212121, 3px -3px 0 #212121, -3px 3px 0 #212121, 3px 3px 0 #212121, -3px 9px 0 #212121, 0 9px 0 #212121, 3px 9px 0 #212121, 0 19px 0.5px rgba(0, 0, 0, .1), 0 0 3px rgba(0, 0, 0, .1), 0 3px 1.5px rgba(0, 0, 0, .3), 0 6px 1.5px rgba(0, 0, 0, .2), 0 9px 9px rgba(0, 0, 0, .25), 0 12px 12px rgba(0, 0, 0, .2), 0 18px 18px rgba(0, 0, 0, .15);
  display: block;
}

ul {
  width: 33.5%;
  margin: 20px auto;
  padding: 0;
}

li {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  list-style: none;
  text-align: left;
  cursor: pointer;
  border: 1px dashed rgb(146, 146, 146);
  margin-bottom: 5px;
  padding: 5px 10px;

}

li label {
  width: 100%;
  cursor: pointer;
  display: block;
  padding: 5px 0px;
}

li input {
  margin-top: 8px;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

button:hover {
  color: rgb(165, 47, 47);
}

input[type=text] {
  padding: 15px 20px;
  width: 30%;
  margin-top: 20px;
  font-size: 17px;
}

.btn {
  font-size: 16px;
}

.btn.active {
  font-weight: bold;
}